# Neurocloud: Regression

In [1]:
# Importing packages
import numpy as np
import pandas as pd

In [33]:
# Loading Data

# Satisfaction Data
# https://stats.oecd.org/index.aspx?DataSetCode=BLI#
# Load data, extract interesting values, save reduced one
dat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction.csv')
dat1 = dat.loc[:, ['LOCATION', 'Country', 'Indicator', 'Country', 'Value']]
dat2 = dat1.loc[dat1.Indicator == "Life satisfaction", :]
sat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction_clean.csv')
# dat2.to_csv(path_or_buf='/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction_clean.csv', sep=',') # Save data

# GDP Data
# https://data.oecd.org/gdp/gross-domestic-product-gdp.htm
dat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/GDP.csv')
gdp2 = dat.loc[dat.TIME == 2020, :]
gdp3 = gdp2.loc[gdp2.MEASURE == 'USD_CAP', :]
gdp = gdp3.loc[:, ['LOCATION','Value']]
# gdp.to_csv(path_or_buf='/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/gdp_clean.csv', sep=',') # Save data

In [28]:
sat.head()

,Unnamed: 0,LOCATION,Country,Indicator,Country.1,Value
0,35,AUS,Australia,Life satisfaction,Australia,7.1
1,36,AUT,Austria,Life satisfaction,Austria,7.2
2,37,BEL,Belgium,Life satisfaction,Belgium,6.8
3,38,CAN,Canada,Life satisfaction,Canada,7.0
4,39,CZE,Czech Republic,Life satisfaction,Czech Republic,6.9

In [29]:
gdp.head()

    LOCATION         Value
122      AUS  55690.918600
226      AUT  57253.300563
330      BEL  54539.032525
443      CAN  47228.372488
507      CZE  42813.741340

In [30]:
sat.LOCATION.unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'EST', 'ISR', 'LVA', 'RUS',
       'SVN', 'ZAF', 'OECD', 'COL', 'LTU', 'CRI'], dtype=object)

In [32]:
gdp.LOCATION.unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'CHL', 'CHN', 'COL', 'EST', 'ISR', 'RUS',
       'SVN', 'ZAF', 'OECD', 'OECDE', 'LVA', 'LTU', 'SAU', 'EA19', 'ARG',
       'CRI', 'BGR', 'HRV', 'CYP', 'MLT', 'ROU', 'HKG', 'MDG', 'MAR',
       'SGP', 'EU27_2020', 'ALB', 'SRB', 'GEO', 'CMR', 'SEN'],
      dtype=object)

# Merging the two DFs