# Neurocloud: Regression

In [1]:
# Importing packages
import numpy as np
import pandas as pd

In [80]:
# Loading Data

# Satisfaction Data
# https://stats.oecd.org/index.aspx?DataSetCode=BLI#
# Load data, extract interesting values, save reduced one
dat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction.csv')
sat = dat.loc[dat.Indicator == "Life satisfaction", :]
sat = sat.loc[sat.INEQUALITY == 'TOT', : ]
sat = sat.loc[sat.INDICATOR == 'SW_LIFS', : ]
sat = sat.loc[sat.Unit == 'Average score', : ]
sat = sat.loc[:, ['LOCATION', 'Country', 'Value']]
sat = sat.rename(columns={"Value": "Satisfaction"})
# sat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction_clean.csv')
# dat2.to_csv(path_or_buf='/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/satisfaction_clean.csv', sep=',') # Save data

# GDP Data
# https://data.oecd.org/gdp/gross-domestic-product-gdp.htm
dat = pd.read_csv('/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/GDP.csv')
gdp2 = dat.loc[dat.TIME == 2020, :]
gdp3 = gdp2.loc[gdp2.MEASURE == 'USD_CAP', :]
gdp = gdp3.loc[:, ['LOCATION','Value']]
gdp = gdp.rename(columns={"Value": "GDP"})
# gdp.to_csv(path_or_buf='/Users/dj/Documents/GitHub/project-neurocloud/data/happiness/gdp_clean.csv', sep=',') # Save data

In [81]:
sat.head()

   LOCATION         Country  Satisfaction
35      AUS       Australia           7.1
36      AUT         Austria           7.2
37      BEL         Belgium           6.8
38      CAN          Canada           7.0
39      CZE  Czech Republic           6.9

In [82]:
gdp.head()

    LOCATION           GDP
122      AUS  55690.918600
226      AUT  57253.300563
330      BEL  54539.032525
443      CAN  47228.372488
507      CZE  42813.741340

# Merging the two DFs

In [83]:
pd.merge(sat,gdp)

   LOCATION          Country  Satisfaction            GDP
0       AUS        Australia           7.1   55690.918600
1       AUT          Austria           7.2   57253.300563
2       BEL          Belgium           6.8   54539.032525
3       CAN           Canada           7.0   47228.372488
4       CZE   Czech Republic           6.9   42813.741340
5       DNK          Denmark           7.5   60840.940164
6       FIN          Finland           7.9   52290.401497
7       FRA           France           6.7   47823.919578
8       DEU          Germany           7.3   56476.934309
9       GRC           Greece           5.8   28413.787339
10      HUN          Hungary           6.0   34156.840044
11      ISL          Iceland           7.6   54649.872164
12      IRL          Ireland           7.0   94028.901163
13      ITA            Italy           6.5   43129.896677
14      JPN            Japan           6.1   41699.104776
15      KOR            Korea           5.8   44698.282816
16      LUX       Luxembourg           7.4  119871.429414
17      MEX           Mexico           6.0   18466.909979
18      NLD      Netherlands           7.5   59815.501543
19      NZL      New Zealand           7.3   45414.702452
20      NOR           Norway           7.3   64166.765766
21      POL           Poland           6.1   34893.459765
22      PRT         Portugal           5.8   34952.243057
23      SVK  Slovak Republic           6.5   32898.852987
24      ESP            Spain           6.5   37992.368883
25      SWE           Sweden           7.3   56135.141361
26      CHE      Switzerland           7.5   70804.014012
27      TUR          Türkiye           4.9   27971.203588
28      GBR   United Kingdom           6.8   45867.757803
29      USA    United States           7.0   63480.861222
30      CHL            Chile           6.2   24606.968439
31      EST          Estonia           6.5   39456.812096
32      ISR           Israel           7.2   40223.179890
33      LVA           Latvia           6.2   33008.225642
34      RUS           Russia           5.5   29819.046969
35      SVN         Slovenia           6.5   40860.470781
36      ZAF     South Africa           4.9   12293.489021
37     OECD     OECD - Total           6.7   45342.015927
38      COL         Colombia           5.7   15597.786932
39      LTU        Lithuania           6.4   40124.473440
40      CRI       Costa Rica           6.3   21763.124576